@model IEnumerable<BTL.Models.DanhGia>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:yellow">Phản Hồi Từ Khách Hàng</h2>

<p>
    @Html.ActionLink("Đóng Góp Ý Kiến", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NhanXet)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.Raw(item.NhanXet)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.IDRuou }) |
            @Html.ActionLink("Chi Tiết", "Details", new { id=item.IDRuou }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.IDRuou })
        </td>
    </tr>
}

</table>
