@model BTL.Models.RuouXuatKhau

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color: yellow">Chi Tiết Rượu Xuất Khẩu</h2>

<div>
   
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenRuou)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenRuou)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NongDo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NongDo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonVi_Chai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonVi_Chai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DanhGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DanhGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TinhChat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TinhChat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NguonGoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguonGoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NguoiXuat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguoiXuat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NguoiNhap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguoiNhap)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.IDRuou }) |
    @Html.ActionLink("Xem Danh Sách", "Index")
</p>
